<section class="bg-gdpr" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Uncertain about GDPR compliance?</h2>
                <hr class="light">
                <p class="text-faded">Let our experience working with European privacy authorities serve you. We’ll help you understand GDPR and achieve compliance, so you can focus on your business.</p>
                <!-- <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a> -->
                <a href="{{ site.resources_url }}/contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a>
            </div>
        </div>
    </div>
</section>
