<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organizations of all sizes can be targets of cyber&#8209;attacks</h2>
                <hr class="light">
                <p class="text-faded">The ubiquity of cyber-attacks is fuelled by the breakneck pace of change and innovation. The rising damage caused by fraud and insecurity can be mitigated.</p>
                <!--<a href="#contact" class="btn btn-default btn-xl">Contact</a>-->
            </div>
        </div>
    </div>
</section>
