<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
           <div class="col-lg-4 col-sm-6">
              <a href="img/portfolio/baton-logo.jpg" onClick="return false;" rel="nofollow" class="portfolio-box">
                  <img src="img/portfolio/baton-logo.jpg" class="img-responsive" alt="GDPR compliance">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category">
                              Baton Simulations
                          </div>
                          <div class="project-name">
                              Achieve GDPR compliance in business operations and solutions offered to European clients.
                          </div>
                       </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
               <a href="img/portfolio/allianz-protect.pdf" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                   <img src="img/portfolio/Allianz-Protect.jpg" class="img-responsive" alt="Allianz AirFrance Allianz-Protect Online Safe">
                   <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category">
                               Allianz in partnership with Air&nbsp;France
                           </div>
                           <div class="project-name">
                               Project Management developing a high security Allianz Protect Online Safe storing sensitive data.
                           </div>
                       </div>
                   </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/en/rights-and-obligations/" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Voyages-sncf.jpg" class="img-responsive" alt="European data privacy compliance">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Voyages-sncf.com
                            </div>
                            <div class="project-name">
                                Ensure EU privacy compliance for client and ridership datasets used by internal marketing teams.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://europa.eu/rapid/press-release_IP-96-993_en.htm" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EC.jpg" class="img-responsive" alt="Security risk analysis auditing system">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                European Commission - Financial Control
                            </div>
                            <div class="project-name">
                                Secure EU Structural Funds auditing system, using MUS sampling and risk analysis.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/en/rights-and-obligations/" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EDF.jpg" class="img-responsive" alt="European data privacy compliance">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                EDF - Marketing
                            </div>
                            <div class="project-name">
                                Ensure EDF marketing data stores conform to European data privacy regulation under CNIL oversight.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/BNP-Paribas.jpg" onClick="return false;" rel="nofollow" class="portfolio-box">
                    <img src="img/portfolio/BNP-Paribas.jpg" class="img-responsive" alt="Disaster Recovery Business Continuity">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Paribas Bank
                            </div>
                            <div class="project-name">
                                Audit, integrate and validate back-office systems for bank’s new business continuity plan.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
