<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We provide the expertise you need</h2>
                <hr class="primary">
                <p class="text-muted">To be compliant, responsive and in control of personal data. We offer:</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/discovery">
                       <i class="fa fa-4x fa-search-plus wow bounceIn"></i>
                    </a>
                    <h3>Discovery</h3>
                    <p class="text-muted">Propose privacy policies and processes tailored to your objectives.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/solutions">
                       <i class="fa fa-4x fa-lock wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                    <h3>Solutions</h3>
                    <p class="text-muted">Implement privacy compliance and enhance competitiveness.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/training">
                       <i class="fa fa-4x fa-user wow bounceIn" data-wow-delay=".2s"></i>
                    </a>
                    <h3>Training</h3>
                    <p class="text-muted">Guide employees on data privacy, compliance and security.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/compliance-services">
                       <i class="fa fa-4x fa-server wow bounceIn" data-wow-delay=".3s"></i>
                    </a>
                    <h3>Services</h3>
                    <p class="text-muted">Manage personal data programs and mitigate potential incidents.</p>
                </div>
            </div>
        </div>
    </div>
</section>
