<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We provide the expertise you need</h2>
                <hr class="primary">
                <p class="text-muted">To be compliant, responsive and in control of personal data.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/discovery">
                       <i class="fa fa-4x fa-search-plus wow bounceIn"></i>
                    <h3>Discovery</h3>
                    <p class="text-muted">Propose personal data solutions tailored to your needs.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/solutions">
                       <i class="fa fa-4x fa-check-circle wow bounceIn" data-wow-delay=".2s"></i> 
                    <h3>Solutions</h3>
                    <p class="text-muted">Implement privacy compliance and help fuel growth.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/training">
                       <i class="fa fa-4x fa-user wow bounceIn" data-wow-delay=".4s"></i>
                    <h3>Training</h3>
                    <p class="text-muted">Guide employees on data privacy, compliance and security.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ site.services_url }}/compliance-services">
                      <i class="fa fa-4x fa-cogs wow bounceIn" data-wow-delay=".6s"></i>
                    <h3>Services</h3>
                    <p class="text-muted">Manage privacy programs and mitigate potential incidents.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
